<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
    <script>
        window.onload = function() {
            // 设置5秒后的跳转
            // setTimeout(function() {
            //     window.location.href = '/polls/tts/';  // tts.html对应的URL路径是tts/
            // }, 5000);
            setTimeout(function() {
                 window.location.href = '/polls/tts/';  // tts.html对应的URL路径是tts/
            }, 500);
        };
    </script>
</head>
<body>
    <h1>登录成功！页面将稍后自动跳转...</h1>
    <!-- 其他内容 -->
</body>
</html>